*{
    box-sizing: border-box;
    user-select: none;
}

html{
    height: 100%;
}

body{
    height: 100%;
    font-family: verdana, sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

                                                   /*           navbar             */

.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
    padding: 25px;
    z-index: 1;
}


.logo,.links{
    float: left;
}

.imglinks,.menubar{
    float: right;
}
.links,.imglinks{
    line-height: 2.5;
    padding: 0 45px 0 15px;
}
.navbar a{
    text-decoration: none;
    color: black;
    padding: 15px 10px;
    transition: all .25s;
}

.navbar a:hover{
    color: white;
    background: #a0a0a0;
}

.logo{
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 3px;
}

.links a{
    font-weight: 300;
    font-size: 13px;
    letter-spacing: 2px;
}

.iconimg{
    width: 20px;
    position: relative;
}

.iconimg img{
    width: 20px;
}

.iconimg a{
    width: 20px;
}

.iconimg span {
    position: absolute;
    top: 100%;
    left: 25%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    font-weight: 600;
    color: white;
    background: #898989;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    text-align: center;
    line-height: 1.4;
}

.bar{
	height: 3px;
	width: 20px;
	background:black;
	margin: 3px 0;
}
.menubtn{
	position: absolute;
    top: 15px;
    right: 10px;
    text-decoration: none;
    color: black;
    text-align: center;
    margin: 0 10px;
    cursor: pointer;
}

.iconimg{
    display: inline;
}
.dpointer{
    position: absolute;
    top: 25px;
    right:50px ;
    padding-top: 9px;
}
.dpointer img{
    width:75px;
    display: none;
}

.navbarani{
    animation: navani 2s;
}

@keyframes navani{
    from{margin-top: -77px}
    to{margin-top:  0; }
}

                                           /*                        sidenavbar                  */

.sidenavbar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    padding: 60px 45px;
    background: white;
    text-align: right;
    display: none;
    z-index: 2;
    animation: sidenavbaranimation 1.5s ease;
}

@keyframes sidenavbaranimation{
    from{max-width: 0;opacity: .3}
    to{max-width: 100%;opacity: 1}
}

.sidenavbar .logo,.sidenavbar .search,.sidenavbar .links{
    display: block;
    text-align: right;
    float: none;
}

.sidenavbar a{
    text-decoration: none;
    color: black;
    padding: 10px 10px;
    display: block;
    z-index: 100;
    text-align: right;
}

.sidenavbar a:hover{
    color: white;
    background: #a0a0a0;
}


.sidenavbar .logo{
    padding: 25px 0; 
}

.sidenavbar .links{
    padding: 25px 0; 
}


.sidenavbar .closebtn{
    position: absolute;
    top: 15px;
    right: 10px;
    font-size: 35px;
    padding: 8px 8px;
    margin: -1px 8px;
    line-height: 1;
    cursor: pointer;
}

.sidenavbar .closebtn:hover{
    color: white;
    background: #a0a0a0; 
}

.sidenavbar .search{
    background: #cccccc;
    padding: 0 10px 0 0;
    border: 1px solid black;
    border-radius: 5px;
}

.sidenavbar .search input[type="text"]{
    width: 70%;
    padding: 5px 0;
    margin: 2px;
    border: none;
    outline: none;
    font-size: 16px;
    display: inline;
    background: transparent;
}


.sidenavbar .search input[type="text"]:focus{
    
    background: white;
}

.sidenavbar .search button{
    display: inline;
    background: white;
    border: none;
    outline: none;
    padding: 5px 5px;
    cursor: pointer;
}



                              /*                    woman div                   */



.wodiv{
    position: relative;
    width: 100%;
    height: 400px;
    margin-top: 50px;
    background: url("../images/categories.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.wodivch{
    position: absolute;
    top:20% ;
    left:0 ;
    padding: 25px 5%;
}

.wodivch .sp1{
    display: block;
    font-size: 36px;
    color:white;
    line-height: 0.75;
    padding: 15px 15px;
}

.wodivch a{
    font-size: 16px;
	font-weight: 550;
    color: white;
    text-decoration: none;
    padding: 10px;
}

.wodivch .sp2,.wodivch .sp3{
    font-size: 16px;
    color: white;
    padding: 10px;
}



                           /*                 billing details                                   */

.billcont{
	width: 90%;
	margin: 75px auto;
}

.billrow,.inputrow{
	display: grid;
	grid-template-columns: 50% 50%;
}


.billcol{
	margin: 15px;
}

.billcol1p1{
	font-size: 32px;
	font-weight: 500;
}

.billrow input[type="text"],.billrow input[type="email"],.billrow select{
	width: 100%;
	padding: 15px;
	font-weight: 300;
	font-size: 16px;
	margin: 10px;
	outline: none;
	color: #898989;
}

.inputrowch1{
	margin-right: 10px;
}

.billrow textarea{
	width: 100%;
	padding: 15px;
	font-weight: 300;
	font-size: 16px;
	margin: 10px;
	outline: none;
	height: 300px;
}

/*            check box input          */

.container,.radiocontainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin: 12px 0;
  cursor: pointer;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #808080;	
}

.container input,.radiocontainer input {
  display: none;
  cursor: pointer;
}

.checkmark,.radiocheckmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

.container:hover input ~ .checkmark,.radiocontainer:hover input ~ .radiocheckmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark,.radiocontainer input:checked ~ .radiocheckmark {
  background-color: #2196F3;
}

.checkmark:after,.radiocheckmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after,.radiocontainer input:checked ~ .radiocheckmark:after {
  display: block;
}

.container .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


/*                second col                    */


.billcol2{
	background: #f9f5f5;
	padding: 0px 35px;
	height: 915px;
}

.billcol2 ul{
	border: 1px solid #808080;
	padding-left: 0;
	margin: 45px 0;
}

.billcol2 ul li{
	font-size: 16px;
	font-weight: 300;
	color: #808080;
	padding: 25px 15px;
	list-style-type: none;
}

.billcol2 ul li:not(:last-child){
	border-bottom: 1px solid #808080;
}

.billcol2 ul li:last-child{
	padding: 35px 15px;
	color: black;
	font-weight: 600;
}

.billcol2 ul li span{
	float: right;
}


/*           radio input            */


.radiocheckmark {
    border-radius: 50%;
}

.radiocontainer .radiocheckmark:after {
 	top: 6px;
	left: 6px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}


.billcol2 button{
	width: 100%;
    border: solid 1px #b5b5b5;
    outline: none;
    background: #937c6f;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
	padding:15px; 
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 60px;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

.billcol2 button:hover{
	background: #674f42;
}


/*            ul part        */



.twocrowcol{
    width: 90%;
	margin: 75px auto;
}

.twocrowcol ul{
    list-style-type: none;
    border: 1px solid #e0e3e4;	
	padding: 50px 25px 50px 75px;
	background: url("../images/cart_nl.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.twocrowcol ul li{
    padding: 20px 25px;
    border-bottom: 1px solid #e0e3e4;
	
	display: inline-block;
	margin: 2.5%;
	width: 40%;
	background: white;
}

.twocrowcol ul li:last-child{
    border-bottom: none;
}


.twocrowcol ul li.bsli img{
    float: left;
    overflow: hidden;
}

.twocrowcol ul li.bsli div{
    margin-left: 75px;
}


.twocrowcol ul li.bsli p{
    padding: 5px 15px;
    color: #937c6f ;
    font-size: 16px;
    font-weight: 550;
}


.twocrowcol ul li.bsli .bsp1{
    font-size: 15px;
    font-weight: 600;
    color: #232323;
    margin-top: 0;
}

.twocrowcol ul li.bsli .bsp2{
    font-size: 14px;
    color: #8a8a8a;
    font-weight: 500;
    margin-top: -15px;
}









                           /*                                        subscribe section                                */




.subscribediv{
    width: 90%;
    margin: 75px auto;
    padding: 50px 0;
    background-image:url("../images/cart_nl.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.sup1{
    font-size: 14px;
    font-weight: 600;
    color:white;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
    padding: 25px 0;
}

.sup2{
    font-size: 35px;
    margin-top: -30px;
    font-weight: normal;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
    padding: 35px 0;
    line-height: 2;
}


.form2{
    background: rgba(204, 204, 204, 0.5);
    padding: 0 10px 0 0;
    border: 1px solid black;
    border-radius: 5px;
    width: 90%;
    margin: 0 auto;
    margin-top: -30px;
}

.form2 input[type="text"]{
    width: 80%;
    padding: 10px 0;
    margin: 4px 2px;
    border: none;
    outline: none;
    font-size: 16px;
    display: inline;
    background: transparent
}


.form2 input[type="text"]:focus{
    
    background: white;
}

.form2 button{
    display: inline;
    border: none;
    outline: none;
    padding: 5px 5px;
    cursor: pointer;
    float: right;
    width: 19%;
    margin: 9px 0;
    font-size: 16px;
    color: white;
    background:#893a0d; 
}

.form2 button:hover{
    background: #985128; 
}

.sup3{
    font-size: 15px;
    color:white;
    text-align: center;
    letter-spacing: 1px;
    padding: 35px 5%;
    line-height: 1.5;
}


.footer{
    width: 90%;
    margin: 50px auto;
}



.fdiv1,.fdiv2,.fdiv3{
    width: 100%;
    text-align: center;
    padding: 25px 0;
}


.fdiv1 a,.fdiv2 a,.fdiv3 a{
    text-decoration: none;
    color: black;
    padding: 15px;
    font-size: 16px;
    line-height: 2;
    transition: all .75s;
}

.fdiv1 a{
    font-size: 32px;
    letter-spacing: 3px;
    font-weight: 500;
}


.fdiv1 a:hover,.fdiv2 a:hover,.fdiv3 a:hover{
    color: #937c6f;
}



/*                           responsive                      */



@media screen and (max-width:992px){
    .links{display: none} 
         
    .sup2 {font-size: 28px;}
    
    .fdiv2 a{padding: 6px;}
	
	.billrow, .inputrow{grid-template-columns: 100%;}
	.inputrowch1{margin-right: 0;}
	
	.twocrowcol ul{padding: 0;background: none;}
	.twocrowcol ul li{display: block;margin: 0;width: 100%;}
    
}


@media screen and (max-width:600px){
    
    .dpointer img{display: block;}
    .imglinks{display: none;}
    .navbar{padding: 20px;}
    .navbar a{padding: 12px 10px;}
    
    .responsive .imglinks{display: block;position: absolute;top:55px ;right:43px;background: white; }
    .responsive .imglinks .iconimg span{top: 75%;left: 45%;}
    .responsive .imglinks .iconimg{display: block;}
    
    .sidenavbar{width: 100%;padding: 60px 3%;}
    .sidenavbar .search input[type="text"]{width: 65%;}
    
     .sup2 {font-size: 20px;}
    
    .form2 input[type="text"],.sidenavbar .search input[type="text"] {width: 65%;}
    .form2 button,.sidenavbar .search button {width: 31%;}
    
    .sup3{font-size: 14px;}	
	
	.billcol2 ul li span{float: none;display: block;line-height: 2.5;}
	.billcol2{height: auto;padding: 2%;}
	    
    
}

@media screen and (max-width:350px){
    .dpointer img{display: none;}
    
    .navbar a {padding: 7px 6px;}
    
    .logo {font-size: 24px;}
    .responsive .imglinks{display: none;}
                
    .form2 input[type="text"],.sidenavbar .search input[type="text"] {width: 100%;background: white;margin: 4px 5px;}
    .form2 button,.sidenavbar .search button {float: none;display: block;width: 75%;margin: 9px auto;}
    
    .fdiv2 a{display: block;}
	
	.wodivch .sp1 {padding: 15px 5%;font-size: 32px;}
	.wodivch a{font-size: 14px;padding: 5px;font-weight: 550;}

	
	.sp2,.sp3{display: block;}
	.wodivch a{padding-left: 10px;}

	
	.billrow input[type="text"], .billrow input[type="email"], .billrow select{font-size: 14px;}
	.twocrowcol ul li.bsli img{float: none;max-width: 100%;}
	.twocrowcol ul li.bsli div{margin-left: 5%;margin-top: 5%;}
	.twocrowcol ul li.bsli p{padding-left: 0;padding-top: 0;}
	.twocrowcol ul li.bsli span{position: static;}
		

}




